<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="ico" href="favicon.ico">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>CART</title>
  </head>
  <body>
    <div class="container containerfluid">
      <% include partials/header.ejs %>
      <div class="row">
        <% if (typeof arr !== 'undefined') { %>
          <% let total = 0 %>
          <% arr.forEach(item => {%>
            <% total += item.price*item.quantity %>
            <div class="col-5 text-center" style="border: 2px solid blue;">
                <img src="/uploads/<%= item.image %>" class="thumbnail" alt=""><br>
                <a href="/remove?name=<%= item.product_id %>" class="btn btn-danger" role="button">DELETE</a>
              </div>
              <div class="col-1"></div>
              <div class="col-6 text-left" style="border: 2px solid blue;">
                <p><%= item.item.toUpperCase() %></p>
                <p>ONE:&nbsp;&nbsp;<%= item.price %>&nbsp;USD</p>
                <p>QUANTITY:&nbsp;&nbsp;<%= item.quantity %>&nbsp;USD</p>
                <p>PRICE:&nbsp;&nbsp;<%= item.price*item.quantity  %>&nbsp;USD</p>
              </div>
            <% }) %>
            <div class="col-12 text-center">
              <a href="/" class="btn btn-info" role="button">CONTINUE SHOPPING</a>
            </div><br><br>
            <div class="col-12 text-center">
              <p>TOTAL PRICE:&nbsp;&nbsp;<%= total %>&nbsp;USD</p>
            </div><br><br>
            <div class="col-12 text-center" style="background-color:orangered;">
              <img src="payment.png" id="payment" alt="">
            </div><br><br>
          <% } %>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="script.js"></script>
</body>
</html>