<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="ico" href="favicon.ico">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Single</title>
  </head>
  <body>
    <div class="container containerfluid">
        <% include partials/header.ejs %>
        <div class="row"><br><br>
            <% if (typeof one !== 'undefined') {%>
                <div class="col-5 text-center">
                    <img src="/uploads/<%= one.image %>" class="img-thumbnail" alt="">
                </div>
                <div class="col-1 text-center"></div>
                <div class="col-6 text-left">
                    <p><%= one.name.toUpperCase() %></p>
                    <span><%= one.description.toUpperCase() %></span>
                    <p><%= one.price %> USD</p><br>
                    <form action="/cart">
                        <div class="button-group" role="group">
                            <button type="button" id="minus" class="btn btn-info">-</button>
                            <button type="button" id="result" class="btn">1</button>
                            <button type="button" id="plus" class="btn btn-info">+</button>
                        </div>
                        <div class="form-group">
                            <input type="hidden" name="single_id" value="<%= one._id %>">
                            <input type="hidden" name="name" value="<%= one.name %>">
                            <input type="hidden" name="price" value="<%= one.price %>">
                            <input type="hidden" name="image" value="<%= one.image %>">
                            <input type="hidden" name="quantity" value="1" id="quantity">
                            <input type="text" name="total" value="<%= one.price %>" id="total" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-info">ADD TO CART</button>
                    </form><br><br>
                </div>
                <% } %>
        </div>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="script.js"></script>
</body>
</html>